# Accidents in France from 2005 to 2016

In [1]:
import pandas as pd
import functools as func
import plotly as ply
from plotly import tools
from plotly.offline import iplot, init_notebook_mode
import plotly.graph_objs as go

%config Completer.use_jedi = False

In [2]:
!pwd

/Users/arul/Projects/Python/data-analysis-projects

In [6]:
path = "/Users/arul/Projects/Python/data-analysis-projects/data/"
df_chars = pd.read_csv(f"{path}caracteristics.csv",encoding='latin-1', low_memory=False)
df_users = pd.read_csv(f"{path}users.csv", low_memory=False)
df_hdays = pd.read_csv(f"{path}holidays.csv",  low_memory=False)
df_places = pd.read_csv(f"{path}places.csv",  low_memory=False)
df_vehicles = pd.read_csv(f"{path}vehicles.csv", low_memory=False)

In [7]:
df_init = func.reduce(lambda x,y:  pd.merge(x, y, on="Num_Acc"), (df_chars, df_users, df_places, df_vehicles))
df_init.head()

,Num_Acc,an,mois,jour,hrmn,lum,agg,int,atm,col,...,situ,env1,senc,catv,occutc,obs,obsm,choc,manv,num_veh_y
0,201600000001,16,2,1,1445,1,2,1,8,3,...,1.0,0.0,0,7,0,0,0,1,1,B02
1,201600000001,16,2,1,1445,1,2,1,8,3,...,1.0,0.0,0,2,0,0,0,7,15,A01
2,201600000001,16,2,1,1445,1,2,1,8,3,...,1.0,0.0,0,7,0,0,0,1,1,B02
3,201600000001,16,2,1,1445,1,2,1,8,3,...,1.0,0.0,0,2,0,0,0,7,15,A01
4,201600000002,16,3,16,1800,1,2,6,1,6,...,1.0,0.0,0,7,0,6,0,1,1,A01

In [8]:
missing_total = df_init.isnull().sum()
missing_perc = ((df_init.isnull().sum()/df_init.count())*100).sort_values(ascending=False)

In [9]:
pd.concat([missing_total, missing_perc], axis=1)

/Users/arul/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

                 0            1
Num_Acc          0     0.000000
actp          5322     0.149972
adr              0     0.000000
agg              0     0.000000
an               0     0.000000
an_nais       4224     0.118994
atm              0     0.000000
catr             2     0.000056
catu             0     0.000000
catv             0     0.000000
choc             0     0.000000
circ          3243     0.091333
col              0     0.000000
com              0     0.000000
dep              0     0.000000
env1          5488     0.154657
etatp         5144     0.144949
gps              0     0.000000
grav             0     0.000000
hrmn             0     0.000000
infra         5461     0.153895
int              0     0.000000
jour             0     0.000000
larrout      34693     0.985797
lartpc       40145     1.142485
lat              0     0.000000
locp          5095     0.143566
long             0     0.000000
lum              0     0.000000
manv             0     0.000000
mois             0     0.000000
nbv           7786     0.219560
num_veh_x        0     0.000000
num_veh_y        0     0.000000
obs              0     0.000000
obsm             0     0.000000
occutc           0     0.000000
place       104090     3.017201
plan          4474     0.126046
pr         1641293    85.811031
pr1        1646623    86.330270
prof          4373     0.123197
secu         46438     1.323949
senc             0     0.000000
sexe             0     0.000000
situ          4197     0.118233
surf          4212     0.118656
trajet         828     0.023303
v1         2129664   149.522296
v2         3394326  2126.104604
voie        220467     6.613661
vosp          7084     0.199724

In [10]:
x='1200'
#x=pad_hrmn(x)
print(x[0:2]+':'+x[2:4])

12:00

In [11]:
df_init[df_init.hrmn.astype('str').str.len() == 1].hrmn

1477       1
3132       1
4594       1
5029       1
5030       1
5031       1
5032       1
5291       1
5292       1
5293       1
5294       1
5295       1
5296       1
5686       1
5687       1
5796       1
6624       1
6625       1
6626       1
6627       1
8786       1
8787       1
9692       1
9693       1
9694       1
9695       1
12644      1
12968      1
12969      1
13142      1
          ..
3521648    1
3521871    1
3521872    1
3522606    1
3522607    1
3522608    1
3522609    1
3524639    1
3527068    1
3527069    1
3527070    1
3527071    1
3527177    1
3527178    1
3527179    1
3527180    1
3537520    1
3537521    1
3537522    1
3537523    1
3537524    1
3538594    5
3538595    5
3538596    5
3538597    5
3539215    5
3539216    5
3539217    5
3539218    5
3547417    1
Name: hrmn, Length: 11324, dtype: int64

In [12]:
def pad_time(x,n):
    if len(x) != n:
        x=x.rjust(n,'0')
    return x

#x=x[0:2]+':'+x[2:4]

In [13]:
df_init.an = df_init.an.astype('str').apply(pad_time, args=(2,))
df_init.mois = df_init.mois.astype('str').apply(pad_time, args=(2,))
df_init.jour = df_init.jour.astype('str').apply(pad_time, args=(2,))
df_init.hrmn= df_init.hrmn.astype('str').apply(pad_time, args=(4,))
#df_init.hrmn= df_init.hrmn[0:2]+'-'+df_init.hrmn[2:4]

## Is the number of accidents decreasing or increasing?

In [14]:
df_init.columns

Index(['Num_Acc', 'an', 'mois', 'jour', 'hrmn', 'lum', 'agg', 'int', 'atm',
       'col', 'com', 'adr', 'gps', 'lat', 'long', 'dep', 'place', 'catu',
       'grav', 'sexe', 'trajet', 'secu', 'locp', 'actp', 'etatp', 'an_nais',
       'num_veh_x', 'catr', 'voie', 'v1', 'v2', 'circ', 'nbv', 'pr', 'pr1',
       'vosp', 'prof', 'plan', 'lartpc', 'larrout', 'surf', 'infra', 'situ',
       'env1', 'senc', 'catv', 'occutc', 'obs', 'obsm', 'choc', 'manv',
       'num_veh_y'],
      dtype='object')

In [15]:
df_init['hr']= df_init['hrmn'].astype('str').str.slice(-4,-2)

In [16]:
init_notebook_mode(connected=True)
topcolor = 'rgb(128, 0, 128)'
othercolor = 'rgb(128, 128, 0)'
def plotbar(data, n):
    topn = data.sort_values(ascending=False)[0:n]
    colors = [topcolor if i in topn else othercolor for i in data.index]
    bar = go.Bar(x=data.index,y=data.values, marker=dict(color = colors))
    return bar

by_year = df_init.groupby(['an']).size()
by_month = df_init.groupby(['mois']).size()
by_day = df_init.groupby(['jour']).size()
by_hour = df_init.groupby(['hr']).size()

figure =tools.make_subplots(rows=2, cols=2, \
                            subplot_titles=('By Year', 'By Month', 'By Day', 'By Hour'))
trc1 = plotbar(by_year, 3)
trc2 = plotbar(by_month, 3)
trc3 = plotbar(by_day, 5)
trc4 = plotbar(by_hour, 5)

figure.append_trace(trc1, 1,1)
figure.append_trace(trc2, 1,2)
figure.append_trace(trc3, 2,1)
figure.append_trace(trc4, 2,2)

figure['layout'].update(height=900, width=900, title='Accidents Grouped With Timelines')
iplot(figure,filename='make-subplots-multiple-with-titles')

This is the format of your plot grid:
[ (1,1) x1,y1 ]  [ (1,2) x2,y2 ]
[ (2,1) x3,y3 ]  [ (2,2) x4,y4 ]

In [17]:
df_timestamp= df_init['an'].astype('str')+'-'+df_init['mois'].astype('str')+\
            '-'+df_init['jour'].astype('str')+':'+df_init['hrmn'].astype('str')
df_init.index= pd.to_datetime(df_timestamp, format='%y-%m-%d:%H%M') #'%y-%m-%d'

In [27]:
df_init[df_init.index.year==2016]

,Num_Acc,an,mois,jour,hrmn,lum,agg,int,atm,col,...,env1,senc,catv,occutc,obs,obsm,choc,manv,num_veh_y,hr
2016-02-01 14:45:00,201600000001,16,02,01,1445,1,2,1,8,3,...,0.0,0,7,0,0,0,1,1,B02,14
2016-02-01 14:45:00,201600000001,16,02,01,1445,1,2,1,8,3,...,0.0,0,2,0,0,0,7,15,A01,14
2016-02-01 14:45:00,201600000001,16,02,01,1445,1,2,1,8,3,...,0.0,0,7,0,0,0,1,1,B02,14
2016-02-01 14:45:00,201600000001,16,02,01,1445,1,2,1,8,3,...,0.0,0,2,0,0,0,7,15,A01,14
2016-03-16 18:00:00,201600000002,16,03,16,1800,1,2,6,1,6,...,0.0,0,7,0,6,0,1,1,A01,18
2016-03-16 18:00:00,201600000002,16,03,16,1800,1,2,6,1,6,...,0.0,0,7,0,6,0,1,1,A01,18
2016-03-16 18:00:00,201600000002,16,03,16,1800,1,2,6,1,6,...,0.0,0,7,0,6,0,1,1,A01,18
2016-07-13 19:00:00,201600000003,16,07,13,1900,1,1,1,1,6,...,99.0,0,7,0,0,1,6,1,A01,19
2016-07-13 19:00:00,201600000003,16,07,13,1900,1,1,1,1,6,...,99.0,0,7,0,0,1,6,1,A01,19
2016-08-15 19:30:00,201600000004,16,08,15,1930,2,2,1,7,3,...,99.0,0,32,0,0,0,1,1,B02,19
2016-08-15 19:30:00,201600000004,16,08,15,1930,2,2,1,7,3,...,99.0,0,7,0,0,0,8,15,A01,19
2016-08-15 19:30:00,201600000004,16,08,15,1930,2,2,1,7,3,...,99.0,0,32,0,0,0,1,1,B02,19
2016-08-15 19:30:00,201600000004,16,08,15,1930,2,2,1,7,3,...,99.0,0,7,0,0,0,8,15,A01,19
2016-08-15 19:30:00,201600000004,16,08,15,1930,2,2,1,7,3,...,99.0,0,32,0,0,0,1,1,B02,19
2016-08-15 19:30:00,201600000004,16,08,15,1930,2,2,1,7,3,...,99.0,0,7,0,0,0,8,15,A01,19
2016-12-23 11:00:00,201600000005,16,12,23,1100,1,2,3,1,3,...,3.0,0,30,0,0,2,1,15,B02,11
2016-12-23 11:00:00,201600000005,16,12,23,1100,1,2,3,1,3,...,3.0,0,7,0,0,2,3,1,A01,11
2016-12-23 11:00:00,201600000005,16,12,23,1100,1,2,3,1,3,...,3.0,0,30,0,0,2,1,15,B02,11
2016-12-23 11:00:00,201600000005,16,12,23,1100,1,2,3,1,3,...,3.0,0,7,0,0,2,3,1,A01,11
2016-12-23 11:00:00,201600000005,16,12,23,1100,1,2,3,1,3,...,3.0,0,30,0,0,2,1,15,B02,11
2016-12-23 11:00:00,201600000005,16,12,23,1100,1,2,3,1,3,...,3.0,0,7,0,0,2,3,1,A01,11
2016-12-23 11:15:00,201600000006,16,12,23,1115,1,2,1,7,6,...,99.0,0,7,0,0,1,1,1,A01,11
2016-12-23 11:15:00,201600000006,16,12,23,1115,1,2,1,7,6,...,99.0,0,7,0,0,1,1,1,A01,11
2016-05-01 11:45:00,201600000007,16,05,01,1145,1,2,1,7,2,...,99.0,1,30,0,0,0,3,15,A01,11
2016-05-01 11:45:00,201600000007,16,05,01,1145,1,2,1,7,2,...,99.0,1,7,0,0,2,2,17,B02,11
2016-05-01 11:45:00,201600000007,16,05,01,1145,1,2,1,7,2,...,99.0,1,30,0,0,0,3,15,A01,11
2016-05-01 11:45:00,201600000007,16,05,01,1145,1,2,1,7,2,...,99.0,1,7,0,0,2,2,17,B02,11
2016-05-01 11:45:00,201600000007,16,05,01,1145,1,2,1,7,2,...,99.0,1,30,0,0,0,3,15,A01,11
2016-05-01 11:45:00,201600000007,16,05,01,1145,1,2,1,7,2,...,99.0,1,7,0,0,2,2,17,B02,11
2016-05-14 19:15:00,201600000008,16,05,14,1915,2,1,1,1,1,...,0.0,0,7,0,0,2,2,1,B02,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-18 06:50:00,201600059423,16,11,18,0650,1,2,1,1,3,...,99.0,2,33,0,0,2,8,14,A01,06
2016-11-18 06:50:00,201600059423,16,11,18,0650,1,2,1,1,3,...,99.0,2,32,0,0,2,8,1,B01,06
2016-11-02 17:20:00,201600059424,16,11,02,1720,1,2,1,1,6,...,99.0,2,32,0,0,1,1,1,A01,17
2016-11-28 12:05:00,201600059425,16,11,28,1205,1,2,1,1,3,...,99.0,2,32,0,0,2,7,17,A01,12
2016-11-28 12:05:00,201600059425,16,11,28,1205,1,2,1,1,3,...,99.0,1,7,0,0,2,0,1,Z01,12
2016-11-28 17:04:00,201600059426,16,11,28,1704,1,2,6,1,3,...,99.0,2,1,0,0,2,1,9,A01,17
2016-11-28 17:04:00,201600059426,16,11,28,1704,1,2,6,1,3,...,99.0,2,7,0,0,9,7,1,B01,17
2016-11-28 17:04:00,201600059426,16,11,28,1704,1,2,6,1,3,...,99.0,2,1,0,0,2,1,9,A01,17
2016-11-28 17:04:00,201600059426,16,11,28,1704,1,2,6,1,3,...,99.0,2,7,0,0,9,7,1,B01,17
2016-11-28 17:04:00,201600059426,16,11,28,1704,1,2,6,1,3,...,99.0,2,1,0,0,2,1,9,A01,17
2016-11-28 17:04:00,201600059426,16,11,28,1704,1,2,6,1,3,...,99.0,2,7,0,0,9,7,1,B01,17
2016-12-13 08:50:00,201600059427,16,12,13,0850,1,2,1,1,6,...,99.0,1,2,0,0,1,1,1,A01,08
2016-12-13 08:50:00,201600059427,16,12,13,0850,1,2,1,1,6,...,99.0,1,2,0,0,1,1,1,A01,08
2016-12-01 12:01:00,201600059428,16,12,01,1201,1,2,1,1,6,...,99.0,2,32,0,0,1,7,1,A01,12
2016-12-01 12:01:00,201600059428,16,12,01,1201,1,2,1,1,6,...,99.0,2,32,0,0,1,7,1,A01,12
2016-12-03 22:15:00,201600059429,16,12,03,2215,1,2,1,1,7,...,99.0,2,30,0,11,0,1,14,A01,22
2016-12-05 17:10:00,201600059430,16,12,05,1710,1,2,1,1,3,...,99.0,2,7,0,0,2,8,15,A01,17
2016-12-05 17:10:00,201600059430,16,12,05,1710,1,2,1,1,3,...,99.0,1,30,0,0,2,1,17,B01,17
2016-12-05 17:10:00,201600059430,16,12,05,1710,1,2,1,1,3,...,99.0,2,7,0,0,2,8,15,A01,17
2016-12-05 17:10:00,201600059430,16,12,05,1710,1,2,1,1,3,...,99.0,1,30,0,0,2,1,17,B01,17
2016-12-06 10:05:00,201600059431,16,12,06,1005,1,2,3,1,3,...,99.0,2,30,0,0,2,7,15,A01,10
2016-12-06 10:05:00,201600059431,16,12,06,1005,1,2,3,1,3,...,99.0,1,30,0,0,2,1,1,B01,10
2016-12-06 10:05:00,201600059431,16,12,06,1005,1,2,3,1,3,...,99.0,2,30,0,0,2,7,15,A01,10
2016-12-06 10:05:00,201600059431,16,12,06,1005,1,2,3,1,3,...,99.0,1,30,0,0,2,1,1,B01,10
2016-12-24 06:35:00,201600059432,16,12,24,0635,1,2,6,1,3,...,99.0,1,2,0,0,2,7,1,A01,06
2016-12-24 06:35:00,201600059432,16,12,24,0635,1,2,6,1,3,...,99.0,2,7,0,0,2,1,9,B01,06
2016-12-24 06:35:00,201600059432,16,12,24,0635,1,2,6,1,3,...,99.0,1,2,0,0,2,7,1,A01,06
2016-12-24 06:35:00,201600059432,16,12,24,0635,1,2,6,1,3,...,99.0,2,7,0,0,2,1,9,B01,06
2016-12-24 06:35:00,201600059432,16,12,24,0635,1,2,6,1,3,...,99.0,1,2,0,0,2,7,1,A01,06
2016-12-24 06:35:00,201600059432,16,12,24,0635,1,2,6,1,3,...,99.0,2,7,0,0,2,1,9,B01,06

In [ ]:
#import matplotlib.dates as mdates
#df_init.index = [mdates.date2num(d) for d in df_init.index]
#df_init.plot(grid=True)
x=df_init.index.value_counts().index
y=df_init.index.value_counts().values
data = [go.Scatter(x=x, y=y)]
iplot(data, filename = 'time-series-simple')